@media(max-width: 1260px){
    .courses{
        &__popular{
            column-gap: 24px;
        }

        &__item-title{
            font-size: 22px;
        }
    }
    
}

@media(max-width: 1170px){
    .courses{
        &__item-title{
            font-size: 20px;
        }
    } 

    .education .title{
        font-size: 50px;
    }

    .bonus__item-title {
        font-size: 15px;
    }
}

@media(max-width: 1100px){
    .courses{
        margin-bottom: 65px;
        &__popular{
            grid-template-columns: repeat(2,1fr);
            justify-items: center;
            gap: 16px;
        }

        &__item {
            padding: 0;
        }

        select{
            font-size: 15px;
        }
    }   
    h2{
        font-size: 25px;
    }

    .education{
        &__wrapper{
            flex-direction: column;
            padding: 0;
            margin-bottom: 64px;
            background-image: none;
        }

        &__left{
            margin: 65px 0;
        }

        &__inner{
            border-radius: 50px;
            background-image: linear-gradient(to right, transparent 90%, #E4FFFF 90%), linear-gradient(to top right, rgba(9, 180, 81, 0.04) 5%, transparent 70%);
        }

        &__img{
            transform: scale(0.8);
        }
    }

    .categories{
        margin-bottom: 64px;

        &__wrapper{
            margin-bottom: 35px;
        }

        &__all{
            font-size: 18px;
        }

        &__slider{
            gap: 20px;
        }
    }

    .bonus{
        padding-bottom: 50px;
        margin-bottom: 74px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        &__item{
            padding: 8px;
        }

        .bonus__item:last-child{
            justify-self: center;
            grid-column-start: 1;
            grid-column-end: 3;
            width: 50%;
        }  
    }
}

@media(max-width: 980px){
    .user{
        &__search{
            display: none;
        }
    }

    .btn-menu{
        display: flex;
        width: 40px;
        height: 40px;
        z-index: 1;
        cursor: pointer;
    }

    .menu{
            display: none;
            position: absolute;
            z-index: 1;
            width: 100%;
            background-color: #fff;

            &__list{
                display: block;
                flex-direction: column;
            }

            &__list-item {
                margin-bottom: 20px;
                &:hover{
                    border-bottom: 1px solid #09B451;
                }
            }
       
        &__show-js{
            justify-content: center;
            top: 20px;
            display: flex;
            padding: 40px 0;
        }
    }
  
}

@media(max-width: 780px){
    .education{
        &__inner{
            background-image: linear-gradient(to right, transparent 78%, #E4FFFF 78%), linear-gradient(to top right, rgba(9, 180, 81, 0.04) 5%, transparent 70%);
        }

        &__img{
            transform: scale(1);
        }
    }
}

@media(max-width: 735px){
    .courses{
        &__item-info{
            padding: 15px;
        }

        &__item-title{
            font-size: 14px;
        }

        &__item--rating {
            font-size: 8px;
        }

        &__item--rating{
            img{
                width: 12px;
                height: 12px;
            }
        }
        &__data{
            flex-direction: column-reverse;
            align-items: flex-start;
        }

        &__item-price{
            font-size: 14px;
            margin-bottom: 10px;
        }

        &__item-data{
            font-size: 12px;
            gap: 2px;

            *{
                flex-shrink: 0;
            }
        }

        &__item-users{
            gap: 2px;
        }

        &__item-wrapper{
            margin-bottom: 5px;
        }

        &__select-wrapper{
            padding: 4px 8px;
            gap: 2px;

            img{
                width: 17px;
                height: 17px;
            }
        }

        .courses select{
            font-size: 12px;
        }
    }

    h2{
        font-size: 16px;
    }

    .categories{
        &__all{
            font-size: 14px;
        }

        &__slider-img{
            border-radius: 5px;
        }

        &__slider-title{
            bottom: 50%;
            left: 50%;
            transform: translate(-50%, 50%);
            padding-left: 0;
        }
    }
   

    .education .title{
        font-size: 32px;
        margin-bottom: 20px;
        max-width: 300px;
    }

    .user{
        &__register,
        &__login{
            padding: 7px;
        }

        &__login{
            margin-left: 0;
        }
    }
    .btn-menu{
        width: 30px;
        height: 30px;
    }

    .arrow{
        display: none;
    }
}

@media (max-width: 480px) {
    .categories__slider-img{
        width: 116px;
        height: 133px;
    }
}